.container {
  max-width: 70rem;
  padding: 0rem 1rem 1rem;

  .closeButton {
    margin-left: auto;
  }

  .footer {
    margin-top: 1.5rem;

    .primaryButton {
      margin-left: auto;
    }
  }
}
