.pageContainer {
  padding: 1rem;

  .textSegmentWrapper {
    & > div {
      &:first-of-type {
        width: 100%;
      }
    }
  }

  .imageSegment {
    max-width: 100%;
    align-self: flex-start;
    margin-bottom: 2rem;
  }
}
