@import '../../styles//variables';

.siteContainer {
  border-left: 0.0625rem solid $grey;
  border-right: 0.0625rem solid $grey;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 100%;
  max-width: 70rem;
}
