@import '../../../../styles/variables';

.root {
  z-index: 0 !important;

  .header {
    background-color: $gray300 !important;
  }

  .modalBody {
    padding: 0 !important;
  }

  .container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0 !important;
    border-radius: 0;
    background-color: $gray300 !important;
    animation: slideFromLeft 0.2s ease 0s 1 forwards;

    @keyframes slideFromLeft {
      from {
        transform: translateX(-100%);
      }
      to {
        transform: translateX(0);
      }
    }

    .menuItem {
      border-bottom: 0.0625rem solid $primary;

      .menuButton {
        padding-left: 1rem;
        width: 100%;
        justify-content: flex-start;

        .menuItemText {
          color: $primary;
        }
      }
    }

    .expansionPanelWrapper {
      border-bottom: 0.0625rem solid $primary;
      width: 100%;

      .mySitesPanel {
        width: 100%;
        background-color: $gray300;

        .summaryText {
          color: $primary;
          text-transform: uppercase;
        }

        .panelDetails {
          padding: 0;

          .namesWrapper {
            width: 100%;

            .siteNameBtn {
              padding-left: 1rem;
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
}
