.editorWrapper {
  max-width: 40rem;
  padding: 0rem 1rem 1rem;

  .closeButton {
    margin-left: auto;
  }

  .quill {
    // .ql-editor {
    //   white-space: normal !important;
    // }
    & > div {
      &:last-of-type {
        & > div {
          &:last-of-type {
            z-index: 1;
            left: auto !important;
          }
        }
      }
    }
  }

  .buttonWrapper {
    margin-top: 1.5rem;
  }
}
